node_modules
**/node_modules
dist
**/dist
**/dist-ssr
.vercel
coverage
**/coverage
test-results
**/package-lock.json
**/pnpm-lock.yaml
package-lock.json
*.min.js
*.min.css
apps/helios-billy-bass
apps/waterfall-flow-control
apps/nini-earth/src/**/*.map
**/*.png
**/*.jpg
**/*.ico
**/__tests__/**/*.png
.jules
incubator/flowmail/scripts/templates/**
