# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*       @your-org/maintainers
/docs/  @your-org/docs
/projects/BTBillyBass/  @your-org/maintainers